* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(3, 3, 44);
  overflow-x: hidden;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-around;
  background-color: rgb(5, 5, 67);
  height: 7vh;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 10px;
}

header span {
  font-size: 1.5rem;
}

nav ul {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

nav ul li {
  list-style: none;
}

nav a {
  text-decoration: none;
}

a:hover {
  color: rgb(205, 194, 194);
}

/* FIRST SECTION */

.first-sec {
  display: flex;
  align-items: center;
  height: 70vh;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  padding: 0 10px;
}

.left {
  font-size: 2.2rem;
  line-height: 7.2vh;
  max-width: 100%;
}

.left span {
  color: blueviolet;
}

/* DIVIDER */

hr {
  max-width: 80vw;
  height: 5px;
  margin: 2.5vh auto;
  border: none;
  border-top: 2px solid rgb(54, 54, 140);
}

/* SECOND SECTION */

.second-sec {
  max-width: 80vw;
  margin: auto;
  height: 47vh;
}

.second-sec p {
  font-size: 0.7rem;
  color: gray;
}

.second-sec .box {
  background-color: rgb(96, 96, 201);
  width: 70vw;
  max-width: 100%;
  height: 2.5px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.second-sec .vertical {
  width: 2px;
  height: 10vh;
  background-color: #fff;
  margin: 0 100px;
}

.box p {
  width: 10vw;
  max-width: 120px;
  position: relative;
  top: 20px;
  right: 70px;
}

.center {
  position: relative;
  left: -30px;
}

/* IMAGES */

.top-img {
  width: 50px;
  position: relative;
  top: -45px;
  left: -23px;
}

.BBC-img {
  width: 50px;
  position: relative;
  top: -50px;
  left: -24px;
}

.social-img {
  width: 50px;
}

/* THIRD SECTION */

.third-sec {
  max-width: 80vw;
  margin: auto;
  height: 34vh;
}

.third-sec > p {
  font-size: small;
  color: gray;
}

.anchor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.third-sec a {
  display: flex;
  flex-direction: column;
}

.social-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ccc;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.social-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 50px;
}

.social-desc {
  font-size: 18px;
  position: relative;
  top: 10px;
  left: -7px;
}

/* FOURTH SECTION */

.fourth-sec {
  display: flex;
  height: 70vh;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

.sec-left h1 {
  font-size: 2rem;
}

.skill {
  display: flex;
  flex-direction: column;
}

.skill p {
  position: relative;
  right: -50px;
  bottom: 23px;
}

.fourth-sec i {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  font-size: 1.5rem;
}

.service p {
  position: relative;
  right: -50px;
  bottom: 23px;
}

/* FOOTER */

footer {
  background-color: rgb(18 18 41);
}

.footer {
  padding-top: 3.5vh;
  display: flex;
  justify-content: space-evenly;
  width: 80vw;
  margin: auto;
  text-align: center;
  flex-wrap: wrap;
  gap: 20px;
}

.footer ul li {
  list-style: none;
  margin-bottom: 10px;
}

footer h3 {
  padding-top: 2vh;
  margin-bottom: 10px;
  text-align: center;
}

.footer-text {
  padding: 2vh 0vw;
  text-align: center;
  color: gray;
}

/* SAFE MOBILE PATCHES */

@media (max-width: 768px) {

  header {
    height: auto;
    padding: 10px;
  }

  .first-sec {
    height: auto;
    padding: 30px 0;
  }

  .second-sec,
  .third-sec,
  .fourth-sec {
    height: auto;
  }

  .second-sec .vertical {
    margin: 20px;
  }

  .footer {
    width: 95vw;
  }

}

@media (max-width: 480px) {

  .left {
    font-size: 1.7rem;
    line-height: normal;
  }

  nav ul {
    gap: 10px;
  }

  .social-img {
    margin-right: 20px;
  }

}


